.searchInput {
    border: none;
}

.searchBtnBrowse {
    background-color: var(--base-dark-orange);
    color: var(--base-white);
    border: none;
    width: 100%;
    font-weight: bold;
    font-family: Consolas;
}

.text-dark-orange {
    color: var(--base-dark-orange);
}

.text-orange {
    color: var(--base-orange);
}

.background-dark-orange {
    background-color: var(--base-dark-orange);
}

.background-orange {
    background-color: var(--base-orange);
}

.categoryRadio {
    color: var(--base-white);
}

.filter {
    border: 1.5px solid var(--base-orange);
    border-radius: 2%;
}

.subFilterTitle {
    margin-top: 2rem;
}

.form-check-input:checked {
    background-color: var(--base-orange);
    border-color: var(--base-orange);
}

.searchResult {
    background-color: var(--base-dark-orange);
    color: var(--base-white);
    width: 100%;
    /* border: 0.5rem solid var(--base-dark-orange) */
}

.calendar {
    /* background-color: #f0f0f0 !important; */
}

.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
}