:root {
    --base-orange: #ff7315;
    --base-dark-orange: #ff5722;
    --base-white: #f4f4f4;
    --base-background-color: #222831;
    --base-font-family: "Akaya Kanadaka", cursive;
}

.display-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-item: center;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-item: center;
}

.text-dark-orange {
    color: var(--base-dark-orange);
}

.text-orange {
    color: var(--base-orange);
}

.background-dark-orange {
    background-color: var(--base-dark-orange);
}

.background-orange {
    background-color: var(--base-orange);
}
