:root {
    --base-orange: #ff7315;
    --base-dark-orange: #ff5722;
    --base-white: #f4f4f4;
    --base-background-color: #222831;
    --base-font-family: "Akaya Kanadaka", cursive;
}

.height-full {
    height: 80vh;
}

.searchInput {
    border: none;
}

.searchBtn {
    background-color: var(--base-dark-orange);
    color: var(--base-white);
    border: none;
}

.joinBtn {
    color: var(--base-dark-orange);
    text-decoration: none;
}

.image {
    width: 100%;
    height: 50%;
    /* background-image: linear-gradient(
        to left,
        transparent,
        var(--base-background-color)
    ); */
}

.card-how-to {
    border: 1px var(--base-grey);
    border-radius: 20px;
    width: 12rem;
    height: 12rem;
    padding: 0.5rem;
    text-align: center;
    vertical-align: middle;
}

.display-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-item: center;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-item: center;
}

.text-dark-orange {
    color: var(--base-dark-orange);
}

.text-orange {
    color: var(--base-orange);
}

@media (max-width: 768px) {
    .secondContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-item: center;
    }
}
