/* body{
    background-image: linear-gradient(135deg, #222831, #393E46)
} */

.link-form {
    text-decoration: none;
}

.link-form:hover {
    text-decoration: none;
    color: var(--base-white);
    cursor: pointer;
}

.signUpText {
    font-family: arial;
    font-size: 9pt;
}
